@model MOTI.Vector

@{
    ViewBag.Title = "Создать";
}

<h2>Создать</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Вектор</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="IdAlt">Название альтернативы</label>
            <!--@Html.LabelFor(model => model.IdAlt, "IdAlt", htmlAttributes: new { @class = "control-label col-md-2" })-->
            <div class="col-md-10">
                @Html.DropDownList("IdAlt", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdAlt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="IdMark">Название оценки</label>
            <!--@Html.LabelFor(model => model.IdMark, "IdMark", htmlAttributes: new { @class = "control-label col-md-2" })-->
            <div class="col-md-10">
                @Html.DropDownList("IdMark", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdMark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
