@model IEnumerable<MOTI.Alternative>

@{
    ViewBag.Title = "Альтернативы";
}

<h2>Альтернативы</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<div class="form-horizontal">
    @using (Html.BeginForm("GetByCriterion", "Alternatives", FormMethod.Get))
    {
        <div class="chooser">
            <h4>Отметьте главный критерий слева от названия</h4>
            <h5>Установите ограничения для остальных критериев</h5>
            <table>
                <tr>
                    <th>Критерий</th>
                    <th>Ограничение</th>
                    <th>Оптимальность</th>
                </tr>
                @foreach (var crit in ViewBag.Criterions)
                {
                    int i = crit.IdCrit;
                    <tr>
                        <td>
                            <input type="radio" class="critRadio" value="@crit.IdCrit" name="IdCrit"/>
                            @crit.CName
                        </td>
                        <td>
                            @Html.DropDownList("Evaluated" + i, new SelectList(ViewBag.MarksByCriterions[crit.IdCrit], "idMark", "MName"), 
                                                htmlAttributes: new {@class = "form-control mark-selector", @id = "select" + crit.IdCrit})
                        </td>
                        <td class="optim">
                            @crit.OptimType
                        </td>
                    </tr>
                }
            </table>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Найти по критерию" class="btn btn-default" />
                </div>
            </div>
            <!--@Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2" for="idCrit">Название критерия</label>
                <div class="col-md-10">
                    @Html.DropDownList("idCrit", (SelectList)ViewBag.CriterionNames, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="optimizationType">Тип Оптимизации</label>
                <div class="col-md-10">
                    @Html.DropDownList("optimizationType", new SelectList(new List<string>() { "Min", "Max" }), 
                                       htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Найти по критерию" class="btn btn-default" />
                </div>
            </div>-->
        </div>
        }
    </div>
<table class="table">
    <tr>
        <th>
            Название альтернативы
            <!--@Html.DisplayNameFor(model => model.AName)-->
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.IdAlt }) |
            @Html.ActionLink("Свойства", "Details", new { id = item.IdAlt }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.IdAlt })
        </td>
    </tr>
}

</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            var allRadioButtons = $(".critRadio");
            allRadioButtons.click(function () {
                $(".mark-selector").removeAttr("disabled");
                var selectId = $(this).val();
                var select = $("#select" + selectId);
                select.attr("disabled", "disabled");
            })
        })
    </script>
}