@model MOTI.LPR

@{
    ViewBag.Title = "Свойства";
}

<h2>Свойства</h2>

<div>
    <h4>Пользователь</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя пользователя
            <!--@Html.DisplayNameFor(model => model.LName)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.LRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LRange)
        </dd>-->

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.IdLPR }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
