@model IEnumerable<MOTI.LPR>

@{
    ViewBag.Title = "Пользователи";
}

<h2>Пользователи</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Имя пользователя<!--@Html.DisplayNameFor(model => model.LName)-->
        </th>
        <!--<th>
            @Html.DisplayNameFor(model => model.LRange)
        </th>-->
        <th>Функции</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <!--<td>
            @Html.DisplayFor(modelItem => item.LRange)
        </td>-->
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.IdLPR }) |
            @Html.ActionLink("Свойства", "Details", new { id=item.IdLPR }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.IdLPR })
        </td>
    </tr>
}

</table>
