@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Лабораторная работа</h1>
    <p class="lead">Методы оптимизации и теория игр</p>
    <p>@Html.ActionLink("Начать", "Index", "LPRs", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LPRs</h2>
        <p>
            Имена пользователей принимающийх решения. Таблица имеет 3 поля - IdLPR, LName, LRange.
        </p>
        <p>@Html.ActionLink("Просмотреть данные", "Index", "LPRs", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Alternatives</h2>
        <p>Список альтернатив для выбора пользователем. Таблица имеет 2 поля - IdAlt, AName</p>
        <p>@Html.ActionLink("Просмотреть данные", "Index", "Alternatives", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("Выбрать вручную с помощью попарного сравнения", "SelectingBest", "Alternatives", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Criteria</h2>
        <p>Список критериев для оценки альтернатив пользователем. Таблица имеет 8 полей - IdCrit, CName, CRange, CWeight, CType, OptimType, Edlzmer, ScaleType</p>
        <p>@Html.ActionLink("Просмотреть данные", "Index", "Criteria", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Marks</h2>
        <p>Список оценок для определенной критерии, необходимых для оценивания альтернатив. Таблица имеет 6 полей - IdMark, IdCrit, MName, MRange, NumMark, NormMark</p>
        <p>@Html.ActionLink("Просмотреть данные", "Index", "Marks", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Vectors</h2>
        <p>Список векторных описаний альтернатив. Таблица связывает 2 таблицы: Alternative и Mark. Таблица имеет 3 поля - IdVect, IdAlt, IdMark</p>
        <p>@Html.ActionLink("Просмотреть данные", "Index", "Vectors", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Results?calc=true">Провести линейную аддитивную свертку</a></p>
    </div>
</div>