@model MOTI.Criterion

@{
    ViewBag.Title = "Свойства";
}

<h2>Свойства</h2>

<div>
    <h4>Критерия</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название критерия
            <!--@Html.DisplayNameFor(model => model.CName)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CName)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.CRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CWeight)
        </dd>-->

        <dt>
            Тип критерия
            <!--@Html.DisplayNameFor(model => model.CType)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CType)
        </dd>

        <dt>
            Оптимальность критерия
            <!--@Html.DisplayNameFor(model => model.OptimType)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptimType)
        </dd>

        <dt>
            Единицы измерения
            <!--@Html.DisplayNameFor(model => model.EdIzmer)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdIzmer)
        </dd>

        <dt>
            Тип шкалы
            <!--@Html.DisplayNameFor(model => model.ScaleType)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScaleType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.IdCrit }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
