@model IEnumerable<MOTI.Criterion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptimType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdIzmer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScaleType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptimType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EdIzmer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScaleType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCrit }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCrit }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCrit })
        </td>
    </tr>
}

</table>
